In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [4]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [7]:
dates = pd.date_range("20130101", periods = 6)
df = pd.DataFrame(np.random.randn(6, 4), index = dates, columns = list("ABCD"))

In [8]:
df

                   A         B         C         D
2013-01-01  1.436330  1.034660  0.010058  1.835353
2013-01-02 -0.497041 -1.138425  0.361175 -1.160637
2013-01-03  0.978260 -0.396768 -0.291153  0.216708
2013-01-04 -0.145902 -0.691510 -0.552227  0.060627
2013-01-05  0.397536  0.818239  0.045901  0.908661
2013-01-06 -1.613877  0.509977  0.412550 -0.563884

In [9]:
df.head()

                   A         B         C         D
2013-01-01  1.436330  1.034660  0.010058  1.835353
2013-01-02 -0.497041 -1.138425  0.361175 -1.160637
2013-01-03  0.978260 -0.396768 -0.291153  0.216708
2013-01-04 -0.145902 -0.691510 -0.552227  0.060627
2013-01-05  0.397536  0.818239  0.045901  0.908661

In [10]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.092551  0.022696 -0.002283  0.216138
std    1.095410  0.886414  0.372168  1.061092
min   -1.613877 -1.138425 -0.552227 -1.160637
25%   -0.409256 -0.617824 -0.215850 -0.407757
50%    0.125817  0.056605  0.027980  0.138667
75%    0.833079  0.741174  0.282356  0.735673
max    1.436330  1.034660  0.412550  1.835353